node_modules/
.env
admin-dashboard/.env
admin-dashboard/node_modules/
admin-dashboard/dist/
busapp/.env
busapp/.flutter-plugins
busapp/.flutter-plugins-dependencies
busapp/.dart_tool/
busapp/build/
.DS_Store
*.log